# Assignment 2 (Part 2)

In [13]:
# Import Libraries

import pandas as pd
import numpy as np

In [14]:
# Load the data

Neighbourhoods_df = pd.read_csv('Part_1.csv')

In [15]:
# Display the first 5 rows of the Neighbourhood

Neighbourhoods_df.head()

   Unnamed: 0 PostalCode      Borough                           Neighbourhood
0           0        M1B  Scarborough                          Malvern, Rouge
1           1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2           2        M1E  Scarborough       Guildwood, Morningside, West Hill
3           3        M1G  Scarborough                                  Woburn
4           4        M1H  Scarborough                               Cedarbrae

In [16]:
# Load the data and rename the columns 

Geospatial_Data_df = pd.read_csv('Geospatial_Coordinates.csv')

Geospatial_Data_df.rename(columns={'Postal Code':'PostalCode'}, inplace=True)

In [17]:
# Display the first 5 rows of Geospatial Coordinates

Geospatial_Data_df.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [18]:
# Add the Geospatial coordinates to the previous Dataframe

Neighbourhoods_with_location = pd.merge(Neighbourhoods_df, Geospatial_Data_df, how='inner', left_on='PostalCode', right_on='PostalCode')

In [19]:
# Display all the rows of the dataset

Neighbourhoods_with_location

,Unnamed: 0,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...,...
98,98,M9N,York,Weston,43.706876,-79.518188
99,99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,102,M9W,Etobicoke,Northwest,43.706748,-79.594054

In [20]:
Neighbourhoods_with_location.to_csv(r'Part_2.csv')